name: Publish Module
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - master
      - main
      - qa
      - stable
  pull_request:
    types: [opened, reopened, edited, synchronize]
  workflow_dispatch: # allows manually triggering the workflow through the GitHub API, GitHub UI or Github CLI
    inputs:
      moduleName:
        description: 'Manually trigger this workflow.'
        required: false
        default: bitcraft-master
        type: 'string'

jobs:
  PublishModule:
    runs-on: ubuntu-latest
    steps:
      - name: Set module name from trigger condition and branch name
        id: set_module_name
        run: |
          if [ "${{ github.event_name }}" = "push" ]
          then
            echo "Set module name from branch name"
            GIT_BRANCH=${GITHUB_REF_NAME}

            if [ "$GIT_BRANCH" = "master" ] || [ "$GIT_BRANCH" = "main" ]
            then
              MODULE_NAME=bitcraft-master
            else
              # Example : bitcraft-qa
              MODULE_NAME=bitcraft-$GIT_BRANCH
            fi

            echo "SET module_name=$MODULE_NAME"
            echo "module_name=$MODULE_NAME" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "pull_request" ]
          then
            echo "Set module name from pull request number"
            echo "SET module_name=bitcraft-pr-${{ github.event.number }}"
            echo "module_name=bitcraft-pr-${{ github.event.number }}" >> "$GITHUB_OUTPUT"
          elif [ "${{ github.event_name }}" = "workflow_dispatch" ]
          then
            echo "Set module name from user input"
            echo "SET module_name=${{ github.event.inputs.moduleName }}"
            echo "module_name=${{ github.event.inputs.moduleName }}" >> "$GITHUB_OUTPUT"
          else
            echo "ERROR : Unexpected flow to trigger the action. Please add logic to define module_name to handle this case."
            exit 1 # Set action as failed
          fi
        shell: bash
      - name: Cache rust target folder
        uses: actions/cache@v3
        with:
          key: rust-target-${{ steps.set_module_name.outputs.module_name }}
          path: |
            ./packages/game/target
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - uses: actions/checkout@v3
        with:
          clean: false
      - name: spacetime install
        run: |
          chmod +x ./.github/install-spacetimedb-github-actions.sh
          ./.github/install-spacetimedb-github-actions.sh

          ls -la

          ./spacetime version
        shell: bash
      - name: spacetime set server
        run: |
          ./spacetime server list
          ./spacetime server fingerprint ${{ vars.SPACETIME_SERVER_NAME }} -y
          ./spacetime server set-default ${{ vars.SPACETIME_SERVER_NAME }}
        shell: bash
      - name: spacetime login
        run: |
          ./spacetime login --token ${{ secrets.SPACETIME_TOKEN }}
        shell: bash
      - name: publish
        id: spacetime_publish_module
        run: |
          echo Pull Request number : ${{ github.event.number }}
          cd packages/game

          echo "SpacetimeDB : spacetime publish ${{ steps.set_module_name.outputs.module_name }} -s ${{ vars.SPACETIME_SERVER_NAME }}"
          if (../../spacetime publish ${{ steps.set_module_name.outputs.module_name }} -s ${{ vars.SPACETIME_SERVER_NAME }})
          then
            echo "SpacetimeDB : Publish Successful (publish_with_clear_flag=false)"
            echo "publish_with_clear_flag=false" >> "$GITHUB_OUTPUT"
          else
            echo "SpacetimeDB : Publish Failed"
            echo "SpacetimeDB : Retrying with publish -c ..."
            echo "SpacetimeDB : spacetime publish ${{ steps.set_module_name.outputs.module_name }} -s ${{ vars.SPACETIME_SERVER_NAME }} -c -y"
            if (../../spacetime publish ${{ steps.set_module_name.outputs.module_name }} -s ${{ vars.SPACETIME_SERVER_NAME }} -c -y)
            then
              echo "SpacetimeDB : Publish Successful (publish_with_clear_flag=true)"
              echo "publish_with_clear_flag=true" >> "$GITHUB_OUTPUT"
            else
              echo "ERROR : Publish Failed attempting with -c. Marking Action as failed."
              exit 1 # Set action as failed
            fi
          fi

          # Return to the original folder
          cd ..
        shell: bash
      # NOTE: We used to leave PR comments in upload-world-action but we are adding it here now because upload-world-action is disabled
      - if: ${{ github.event_name == 'pull_request' }} # only leave a comment if this is triggered by a PR
        name: Leave PR comment
        uses: actions/github-script@v7
        with:
          script: |
            const publishWithClearFlag = ${{ steps.spacetime_publish_module.outputs.publish_with_clear_flag }}
            const moduleName = '${{ steps.set_module_name.outputs.module_name }}'
            const body = publishWithClearFlag ? `Module was published to \`${moduleName}\`. Data was reset with \`spacetime publish -c\` because of incompatible schema changes.` : `Module was published to \`${moduleName}\`.`;

            github.rest.issues.createComment({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                body: body
            })

